# Pandas: grouping

In [99]:
import pandas as pd
import numpy as np

In [100]:
cars = pd.read_csv("data/vehicles.csv")

In [101]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [102]:
cars.value_counts(['Model']).unique

<bound method Series.unique of Model
F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
TC by Maserati         1
E350 4Matic            1
E350 (wagon)           1
E320 Wagon 4Matic      1
H3T 4WD FFV            1
Length: 3608, dtype: int64>

group by the data by the Make  using count function

In [103]:
cars.groupby(['Make']).count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [104]:
cars.Make.value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

In [105]:
print(f"{cars['Make'].value_counts().index[0]} has the most cars ({cars['Make'].value_counts()[0]}).")

Chevrolet has the most cars (3643).

In [106]:
cars["CO2 Emission Grams/Mile"]=cars["CO2 Emission Grams/Mile"]*(1/1.60934)
cars.rename(columns={"CO2 Emission Grams/Mile":"CO2 Emission Grams/Km"}, inplace=True)
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.450048,1150

<b>show the average CO2_Emission_Grams/Km  by Brand

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [107]:
cars.groupby("Make")["CO2 Emission Grams/Km"].mean().sort_values(ascending=False)

Make
Vector                                651.919248
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Bugatti                               542.497235
Laforza Automobile Inc                502.012683
                                         ...
MINI                                  194.935105
Daihatsu                              192.742404
Fiat                                  189.311494
smart                                 153.498052
Fisker                                105.011992
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [108]:
x=pd.cut(cars['Year'],bins=(1984,1991,2001,2010,2017), labels=("80s","90s","2000s","2010s"))
cars['Decade'] = pd.cut(cars['Year'],bins=(1984,1991,2001,2010,2017), labels=("80s","90s","2000s","2010s"))
cars['Decade']

0          NaN
1          NaN
2          80s
3          80s
4          80s
         ...
35947    2010s
35948    2010s
35949    2010s
35950    2010s
35951    2010s
Name: Decade, Length: 35952, dtype: category
Categories (4, object): ['80s' < '90s' < '2000s' < '2010s']

In [109]:
cars.groupby('Decade')['CO2 Emission Grams/Km'].mean().sort_values(ascending=False)

Decade
80s      307.627676
90s      304.246027
2000s    300.069487
2010s    261.819246
Name: CO2 Emission Grams/Km, dtype: float64

In [110]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [111]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [119]:
cars["City Km/Liter"]=cars["City MPG"]*(1.60934/3.78541)
cars["City Km/Liter"]

0         7.652571
1         5.526857
2         6.802286
3         5.526857
4         5.952000
           ...
35947    14.454857
35948    14.454857
35949    14.454857
35950    14.454857
35951    13.604571
Name: City Km/Liter, Length: 35952, dtype: float64

Which brands are more environment friendly?

In [121]:
cars.groupby('Make')['CO2 Emission Grams/Km'].mean().sort_values()

Make
Fisker                                105.011992
smart                                 153.498052
Fiat                                  189.311494
Daihatsu                              192.742404
MINI                                  194.935105
                                         ...
Laforza Automobile Inc                502.012683
Bugatti                               542.497235
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Vector                                651.919248
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

Does the drivetrain affect fuel consumption?

In [133]:
cars["City Km/Liter"]=cars["City MPG"]*(1.60934/3.78541)
cars["Highway Km/Liter"]=cars["Highway MPG"]*(1.60934/3.78541)
cars.groupby(["Drivetrain"])[["City Km/Liter","Highway Km/Liter"]].mean().sort_values(by='Highway Km/Liter')(ascend)

                            City Km/Liter  Highway Km/Liter
Drivetrain
Part-time 4-Wheel Drive          6.215696          8.115385
2-Wheel Drive                    6.642480          8.222444
4-Wheel or All-Wheel Drive       6.392049          8.347130
Rear-Wheel Drive                 6.556574          9.023946
4-Wheel Drive                    7.190861          9.668584
All-Wheel Drive                  7.785598         10.882531
Front-Wheel Drive                9.002214         12.166210
2-Wheel Drive, Front            10.628571         14.029714

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [145]:
cars['Trans'] = list(map(lambda x: "Automatic" if (x.startswith('Auto')) else "Manual", cars['Transmission']))
cars.groupby("Trans")[["City Km/Liter"]].mean()

           City Km/Liter
Trans
Automatic       7.278292
Manual          7.968348

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [193]:
cars.groupby(["Trans"]).agg({"City Km/Liter":"mean","Trans":"count"})

           City Km/Liter  Trans
Trans
Automatic       7.278292  24290
Manual          7.968348  11662

aggregate with average City_Km/Liter and the minimum of the Trans

In [175]:
cars.groupby(["Trans"])[["City Km/Liter"]].agg(min)

           City Km/Liter
Trans
Automatic       2.976000
Manual          2.550857