In [1]:
import random

In [11]:
sample_list_1 = random.sample(range(100),k=80)

In [13]:
print(sample_list_1)

[11, 50, 14, 28, 38, 66, 99, 9, 5, 78, 45, 22, 75, 86, 41, 19, 20, 16, 77, 64, 97, 39, 49, 1, 13, 65, 82, 25, 46, 61, 0, 53, 30, 2, 72, 47, 18, 92, 90, 57, 8, 23, 84, 63, 88, 24, 37, 96, 6, 74, 33, 73, 34, 42, 48, 55, 83, 52, 94, 12, 44, 68, 7, 70, 51, 76, 26, 89, 4, 40, 21, 85, 79, 10, 60, 67, 29, 95, 69, 59]

In [15]:
set1 = set(sample_list_1)

In [16]:
print(set1)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 33, 34, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 92, 94, 95, 96, 97, 99}

In [17]:
print(len(set1))

80

In [18]:
sample_list_2 = random.sample(range(100),k=80)

In [19]:
print(sample_list_2)

[30, 26, 10, 18, 50, 34, 78, 87, 51, 93, 0, 40, 56, 91, 12, 48, 99, 83, 54, 25, 49, 37, 92, 55, 8, 38, 63, 28, 75, 39, 47, 4, 6, 94, 64, 58, 84, 95, 86, 81, 11, 21, 62, 43, 96, 88, 20, 27, 31, 90, 70, 3, 46, 57, 61, 59, 77, 71, 16, 98, 14, 45, 36, 74, 19, 60, 72, 80, 76, 23, 68, 73, 66, 65, 89, 5, 85, 29, 82, 24]

In [20]:
print(len(sample_list_2))

80

In [22]:
set2 = set(sample_list_2)

In [25]:
set3 = set1 - set2

In [26]:
set4 = set2 - set1

In [27]:
print(set3)

{1, 2, 33, 67, 69, 97, 7, 9, 41, 42, 44, 13, 79, 52, 53, 22}

In [28]:
print(set4)

{98, 3, 36, 71, 91, 43, 80, 81, 54, 87, 56, 58, 27, 93, 62, 31}

In [29]:
set5 = set1.intersection(set2)

In [30]:
print(set5)

{0, 4, 5, 6, 8, 10, 11, 12, 14, 16, 18, 19, 20, 21, 23, 24, 25, 26, 28, 29, 30, 34, 37, 38, 39, 40, 45, 46, 47, 48, 49, 50, 51, 55, 57, 59, 60, 61, 63, 64, 65, 66, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 88, 89, 90, 92, 94, 95, 96, 99}

In [31]:
len(set1)

80

In [32]:
len(set2)

80

In [33]:
len(set3)

16

In [34]:
len(set4)

16

In [35]:
len(set5)

64

In [67]:
print(len(set5))

64

In [75]:
(len(set1) == len(set5) + len(set3))

False

In [74]:
(len(set2) == len(set5) + len(set4))

True

In [42]:
set6 = set()
print(type(set6))

<class 'set'>

In [43]:
set6.update(set3)

In [44]:
set6.update(set5)

In [45]:
print(set6)

{0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 33, 34, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 92, 94, 95, 96, 97, 99}

In [47]:
set2.issubset(set1)

False

In [48]:
set3.issubset(set1)

True

In [49]:
set3.union(set4, set5)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [50]:
set1.union(set2)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 16,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [51]:
set3.union(set4, set5) == set1.union(set2)

True

In [52]:
set1.pop()

0

In [53]:
print(set1)

{1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 33, 34, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 57, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 92, 94, 95, 96, 97, 99}

In [54]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [62]:
set1.difference_update(list_to_remove)

In [63]:
print(set1)

{2, 4, 5, 6, 7, 8, 10, 12, 13, 14, 16, 18, 20, 22, 23, 24, 25, 26, 28, 30, 33, 34, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 53, 55, 57, 60, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 88, 90, 92, 94, 95, 96, 97}