# Using Pandas

In [4]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [5]:
## Your Code here
vehicles_df = pd.read_csv (r'data/vehicles.csv')
print (vehicles_df)

                   Make                Model  Year  Engine Displacement  \
0            AM General    DJ Po Vehicle 2WD  1984                  2.5
1            AM General     FJ8c Post Office  1984                  4.2
2            AM General  Post Office DJ5 2WD  1985                  2.5
3            AM General  Post Office DJ8 2WD  1985                  4.2
4      ASC Incorporated                  GNX  1987                  3.8
...                 ...                  ...   ...                  ...
35947             smart         fortwo coupe  2013                  1.0
35948             smart         fortwo coupe  2014                  1.0
35949             smart         fortwo coupe  2015                  1.0
35950             smart         fortwo coupe  2016                  0.9
35951             smart         fortwo coupe  2016                  0.9

       Cylinders     Transmission        Drivetrain  \
0            4.0  Automatic 3-spd     2-Wheel Drive
1            6.0  Automatic 3-spd     2-Wheel Drive
2            4.0  Automatic 3-spd  Rear-Wheel Drive
3            6.0  Automatic 3-spd  Rear-Wheel Drive
4            6.0  Automatic 4-spd  Rear-Wheel Drive
...          ...              ...               ...
35947        3.0        Auto(AM5)  Rear-Wheel Drive
35948        3.0        Auto(AM5)  Rear-Wheel Drive
35949        3.0        Auto(AM5)  Rear-Wheel Drive
35950        3.0        Auto(AM6)  Rear-Wheel Drive
35951        3.0     Manual 5-spd  Rear-Wheel Drive

                     Vehicle Class Fuel Type  Fuel Barrels/Year  City MPG  \
0      Special Purpose Vehicle 2WD   Regular          19.388824        18
1      Special Purpose Vehicle 2WD   Regular          25.354615        13
2      Special Purpose Vehicle 2WD   Regular          20.600625        16
3      Special Purpose Vehicle 2WD   Regular          25.354615        13
4                     Midsize Cars   Premium          20.600625        14
...                            ...       ...                ...       ...
35947                  Two Seaters   Premium           9.155833        34
35948                  Two Seaters   Premium           9.155833        34
35949                  Two Seaters   Premium           9.155833        34
35950                  Two Seaters   Premium           9.155833        34
35951                  Two Seaters   Premium           9.417429        32

       Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year
0               17            17               522.764706            1950
1               13            13               683.615385            2550
2               17            16               555.437500            2100
3               13            13               683.615385            2550
4               21            16               555.437500            2550
...            ...           ...                      ...             ...
35947           38            36               244.000000            1100
35948           38            36               243.000000            1100
35949           38            36               244.000000            1100
35950           39            36               246.000000            1100
35951           39            35               255.000000            1150

[35952 rows x 15 columns]

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [6]:
# shows where "Dutton" is contained in the string
vehicles_df["Make"].str.contains("Dutton")

0        False
1        False
2        False
3        False
4        False
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Name: Make, Length: 35952, dtype: bool

In [77]:
#select column, filter
vehicles_df['Make'][vehicles_df["Make"].str.contains("Dutton")]

11012    Dutton
30164    Dutton
31754    Dutton
Name: Make, dtype: object

In [8]:
vehicles_df["Make"]

0              AM General
1              AM General
2              AM General
3              AM General
4        ASC Incorporated
               ...
35947               smart
35948               smart
35949               smart
35950               smart
35951               smart
Name: Make, Length: 35952, dtype: object

In [84]:
vehicles_df["Make"].where([vehicles_df["Make"].str.contains("Dutton")]), other=Dutton, inplace=True)

SyntaxError: cannot assign to function call (3014328620.py, line 1)

In [9]:
vehicles_df["CO2 Emission Grams/Mile"]=vehicles_df["CO2 Emission Grams/Mile"]*(1/1.60934)

In [10]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [19]:
vehicles_df.value_counts()

Make           Model               Year  Engine Displacement  Cylinders  Transmission     Drivetrain        Vehicle Class                Fuel Type  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  CO2 Emission Grams/Mile  Fuel Cost/Year
AM General     DJ Po Vehicle 2WD   1984  2.5                  4.0        Automatic 3-spd  2-Wheel Drive     Special Purpose Vehicle 2WD  Regular    19.388824          18        17           17            324.831736               1950              1
Mercedes-Benz  E500                1994  5.0                  8.0        Automatic 4-spd  Rear-Wheel Drive  Compact Cars                 Premium    20.600625          14        18           16            345.133719               2550              1
               E430                2000  4.3                  8.0        Automatic 5-spd  Rear-Wheel Drive  Midsize Cars                 Premium    18.311667          16        22           18            306.785528               2250              1
                                   2001  4.3                  8.0        Automatic 5-spd  Rear-Wheel Drive  Midsize Cars                 Premium    17.347895          16        23           19            290.638922               2150              1
                                   2002  4.3                  8.0        Automatic 5-spd  Rear-Wheel Drive  Midsize Cars                 Premium    18.311667          16        23           18            306.785528               2250              1
                                                                                                                                                                                                                                                      ..
Ford           E250 Econoline 2WD  1996  5.8                  8.0        Automatic 4-spd  Rear-Wheel Drive  Vans                         Regular    25.354615          11        16           13            424.779962               2550              1
                                         4.9                  6.0        Automatic 4-spd  Rear-Wheel Drive  Vans                         Regular    27.467500          11        15           12            460.178293               2800              1
                                                                         Automatic 3-spd  Rear-Wheel Drive  Vans                         Regular    27.467500          11        13           12            460.178293               2800              1
                                   1995  5.8                  8.0        Automatic 4-spd  Rear-Wheel Drive  Vans                         Regular    27.467500          11        15           12            460.178293               2800              1
smart          fortwo coupe        2016  0.9                  3.0        Manual 5-spd     Rear-Wheel Drive  Two Seaters                  Premium    9.417429           32        39           35            158.450048               1150              1
Length: 35952, dtype: int64

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [20]:
vehicles_df['Transmission'][vehicles_df["Transmission"].str.contains("Automatic")]

0        Automatic 3-spd
1        Automatic 3-spd
2        Automatic 3-spd
3        Automatic 3-spd
4        Automatic 4-spd
              ...
35920    Automatic 4-spd
35940     Automatic (S5)
35941    Automatic (AM5)
35942     Automatic (S5)
35943    Automatic (AM5)
Name: Transmission, Length: 23408, dtype: object

In [21]:
vehicles_df['Transmission'][vehicles_df["Transmission"].str.contains("Manual")]

6        Manual 5-spd
9        Manual 5-spd
12       Manual 5-spd
23       Manual 6-spd
40       Manual 6-spd
             ...
35929    Manual 4-spd
35930    Manual 5-spd
35931    Manual 4-spd
35939    Manual 5-spd
35951    Manual 5-spd
Name: Transmission, Length: 11662, dtype: object

In [53]:
vehicles_df[Transmission_new] = 0
for vehicles_df['Transmission'][vehicles_df["Transmission"].str.contains("Manual")]
print("Manual")
vehicles_df['Transmission'][vehicles_df["Transmission"].str.contains("Automatic")]
 [Transmission_new] = "Automatic"

SyntaxError: invalid syntax (1282405445.py, line 2)

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [57]:
vehicles_df["Make"].value_counts()
#Chevrolet has the most cars in the dataset

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
BMW                                   1677
Mercedes-Benz                         1284
Nissan                                1253
Volkswagen                            1047
Mitsubishi                             950
Mazda                                  915
Audi                                   890
Porsche                                862
Honda                                  836
Jeep                                   829
Pontiac                                784
Subaru                                 781
Volvo                                  717
Hyundai                                662
Chrysler                               641
Buick                                  537
Mercury                                532
Suzuki                                 512
Cadillac                               508
Kia                                    493
Plymouth                               456
Saab                                   410
Isuzu                                  409
Lexus                                  397
Oldsmobile                             376
Infiniti                               345
Jaguar                                 343
MINI                                   320
Acura                                  302
Saturn                                 278
Lincoln                                273
Ferrari                                208
Rolls-Royce                            160
Eagle                                  156
Geo                                    144
Land Rover                             142
Aston Martin                           133
Bentley                                116
Maserati                               111
Lamborghini                            104
Scion                                   83
Peugeot                                 74
Daewoo                                  67
Ram                                     57
Roush Performance                       53
Lotus                                   53
Fiat                                    43
Alfa Romeo                              41
J.K. Motors                             36
Renault                                 33
Wallace Environmental                   32
Maybach                                 31
American Motors Corporation             22
smart                                   20
Hummer                                  19
Daihatsu                                17
CX Automotive                           16
Merkur                                  14
Federal Coach                           14
Import Trade Services                   13
McLaren Automotive                      13
Spyker                                  13
Sterling                                12
Bugatti                                  8
Yugo                                     8
Genesis                                  7
Tecstar, LP                              6
Mcevoy Motors                            6
Saleen                                   5
VPG                                      5
Bertone                                  5
Panther Car Company Limited              4
Saleen Performance                       4
AM General                               4
TVR Engineering Ltd                      4
Grumman Olson                            4
Texas Coach Company                      4
Vector                                   4
Autokraft Limited                        4
Morgan                                   3
Evans Automobiles                        3
Dacia                                    3
Dabryan Coach Builders Inc               3
Consulier Industries Inc                 3
BMW Alpina                               3
Bitter Gmbh and Co. Kg                   3
SRT                                      2
Ruf Automobile Gmbh                      2
CCC Engineering                          2
Red Shift Ltd.                           2
Bill Dovell Motor Car Company            2
Quantum Technologies                     2
Pagani                                   2
PAS, Inc                                 2
Laforza Automobile Inc                   2
Mobility Ventures LLC                    2
Pininfarina                              2
PAS Inc - GMC                            2
Import Foreign Auto Sales Inc            1
London Taxi                              1
London Coach Co Inc                      1
Qvale                                    1
Grumman Allied Industries                1
Vixen Motor Company                      1
Volga Associated Automobile              1
ASC Incorporated                         1
Isis Imports Ltd                         1
Aurora Cars Ltd                          1
JBA Motorcars, Inc.                      1
Mahindra                                 1
Superior Coaches Div E.p. Dutton         1
Goldacre                                 1
General Motors                           1
Fisker                                   1
Shelby                                   1
Panos                                    1
Panoz Auto-Development                   1
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, dtype: int64

In [58]:
vehicles_df["Model"].value_counts()

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [61]:
## your Code here
vehicles_df["CO2 Emission Grams/Mile"].sort_values()

3071      22.990791
3069      24.854909
3070      24.854909
7916      31.690010
7917      31.690010
            ...
20897    788.877073
20894    788.877073
20898    788.877073
20896    788.877073
20895    788.877073
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

In [70]:
vehicles_df.loc [20895]
#the car with the highest fuel consumption is the 1987 Lamborghini Countach

Make                            Lamborghini
Model                              Countach
Year                                   1987
Engine Displacement                     5.2
Cylinders                              12.0
Transmission                   Manual 5-spd
Drivetrain                 Rear-Wheel Drive
Vehicle Class                   Two Seaters
Fuel Type                           Premium
Fuel Barrels/Year                 47.087143
City MPG                                  6
Highway MPG                              10
Combined MPG                              7
CO2 Emission Grams/Mile          788.877073
Fuel Cost/Year                         5800
Name: 20895, dtype: object

In [73]:
vehicles_df.loc [20894]
##on average, Lamborghinis have the worst CO2 emissions

Make                            Lamborghini
Model                              Countach
Year                                   1986
Engine Displacement                     5.2
Cylinders                              12.0
Transmission                   Manual 5-spd
Drivetrain                 Rear-Wheel Drive
Vehicle Class                   Two Seaters
Fuel Type                           Premium
Fuel Barrels/Year                 47.087143
City MPG                                  6
Highway MPG                              10
Combined MPG                              7
CO2 Emission Grams/Mile          788.877073
Fuel Cost/Year                         5800
Name: 20894, dtype: object

In [75]:
vehicles_df.loc[3071]
#the car with the lowest fuel consumption is the 2016 BMW i3 REX

Make                                              BMW
Model                                          i3 REX
Year                                             2016
Engine Displacement                               0.6
Cylinders                                         2.0
Transmission                           Automatic (A1)
Drivetrain                           Rear-Wheel Drive
Vehicle Class                         Subcompact Cars
Fuel Type                  Premium Gas or Electricity
Fuel Barrels/Year                             1.56319
City MPG                                           41
Highway MPG                                        37
Combined MPG                                       39
CO2 Emission Grams/Mile                     22.990791
Fuel Cost/Year                                   1050
Name: 3071, dtype: object

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [13]:
## Your Code is here